* {
  color: white;
}

html,
body {
  background-color: black;
  height: 90%;
}

nav {
  border-bottom: solid white 1px;
  width: 100%;
}

.nav-logo {
  height: 40px;
  width: 40px;
}

.intro {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: auto;
  width: 60%;
}
