* {
  color: white;
}

html,
body {
  background-color: black;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
.nav-bar {
  background-color: black;
  border-bottom: solid white 1px;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-logo {
  height: 40px;
  margin: 0.5rem 0 0.5rem 1rem;
  width: 40px;
  z-index: 100;
}

/* Container */
.container {
  border-right: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.intro-container {
  border-right: solid 1px white;
  height: 90%;
  padding: 1em;
  overflow: hidden; /* Ensure no scrollbars appear */
  width: 50%;
}

#intro {
  align-items: center;
  border-bottom: solid 1px white;
  display: flex;
  justify-content: center;
  height: 50%;
}

.blog-container {
  text-align: center;
  width: 50%;
}
