* {
  color: white;
}

html,
body {
  background-color: black;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
.nav-bar {
  background-color: black;
  border-bottom: solid white 1px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px; /* Adjust the height as needed */
}

.nav-logo {
  height: 40px;
  margin: 0.5rem 0 0.5rem 1rem;
  width: 40px;
  z-index: 100;
}

/* Container */
.container {
  border-right: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); /* Subtract the height of the navbar */
  padding-top: 60px; /* Push the content below the navbar */
}

.intro-container {
  border-right: solid 1px white;
  height: 90%;
  padding: 1em;
  overflow: hidden; /* Ensure no scrollbars appear */
  width: 50%;
}

#intro {
  align-items: center;
  border-bottom: solid 1px white;
  display: flex;
  justify-content: center;
  height: 50%;
}

/* Details */
.details-container {
  height: 40%;
}

.details-bar {
  border-bottom: solid 1px white;
  display: flex;
  justify-content: space-around;
  margin: auto;
  text-align: center;
}

.details-container p {
  border-radius: 5px;
  margin: 3px;
  padding: 0.75rem 1rem;
}

.tech {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#isActive {
  background-color: darkgray;
}

.details-bar p:hover {
  cursor: pointer;
}

/* Experience Container */
.exp-container {
  height: 100%;
  overflow-y: auto; /* Enable vertical scroll */
  padding: 1em;
  box-sizing: border-box;
  margin-top: 2rem;
}

#history-container {
  border: solid 1px white;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

/* Blog */
.blog-container {
  text-align: center;
  width: 50%;
}
